body {
    background-color: powderblue;
}



h1 {
    color: gray;
}

.page-header {
padding-bottom: 9px;
margin: 10px 0 45px;
border-bottom: 1px solid #C7D1DD;
}

p {
    color: red;
}

#pie {      
	background-color:white;
	border-radius:4px;
	text-align:center;
	margin-left:100px;
	margin-bottom:25px;
}

#bar {     
	background-color:white;
	border-radius:4px;
	text-align:center;
	margin-left:100px;
	margin-bottom:25px;
}

#line {     
	background-color:white;
	border-radius:4px;
	text-align:center;
	margin-left:100px;
	margin-bottom:25px;
}

#general {     
	background-color:white;
	border-radius:4px;
	text-align:center;
	margin-left:100px;
	margin-bottom:25px;
}

#area {     
	background-color:white;
	border-radius:4px;
	text-align:center;
	margin-left:100px;
	margin-bottom:25px;
}

#donut {     
	background-color:white;
	border-radius:4px;
	text-align:center;
	margin-left:100px;
	margin-bottom:25px;
}

#wrapper.style1 {
    display: inline-block; 
    width:200px; 
    border:1px solid; 
    vertical-align:top
}

 #wrapper {
    width: 100%;
    background:#09192A;
}

#page-wrapper {
	padding: 15px 15px;
	min-height: 600px;
    background: floralwhite;
}

#page-inner {
    width:100%;
    margin:10px 20px 10px 0px;
    background-color:transparent;
    padding:10px;
    min-height:1200px;
}

ul {
	margin: 0px;
	padding: 0px 0px 0px 0px;
	list-style: none;
}

